body {
    height: 100vh;
	font-family: 'Libre Baskerville', serif;
	background-color: black;
	color: #ffffff;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

h4 {
	text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

 img {
    width: 600px;
    height: 350px;
    object-fit: cover;
    border: 5px solid #ffffff;
}

@media (max-width: 680px) {
	body {
		
		font-size: 12px;
        margin: 20px;
	}

	img {
		width: 280px;
		height: 230px;
		object-fit: cover;
		border: 5px solid #ffffff;
		
	}
}

@media(min-width: 1401px){

img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border: 5px solid #ffffff;
}

.container{
    margin-top: 60px;
}

}
